.sidebar {
position: fixed !important;
top: 50px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: #f5f5f5;
border-right: 1px solid #eee;
}

.nav-sidebar {
margin-right: -21px;
margin-bottom: 20px;
margin-left: -20px;
}

.nav-sidebar-top-changed{
	top:50px;
}

html[lang='ar']
.sidebar {
position: fixed !important;
top: 60px;
bottom: 0;
right: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: #f5f5f5;
border-left: 1px solid #eee;
}